Repository QAEggSurvivors/demoblaze-cypress, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RichardAlmanza, @Frantisekt, @emzima24, @Duquemore, @SoyEdwinCabrera

Added base configuration, features and Steps files / folders
  cypress.json
  cypress/integration/Cards.feature
  cypress/integration/Cards/CardsSteps.js
  cypress/integration/Carousel.feature
  cypress/integration/Carousel/CarouselSteps.js
  cypress/integration/Cart.feature
  cypress/integration/Cart/CartSteps.js
  cypress/integration/Contact.feature
  cypress/integration/Contact/ContactSteps.js
  cypress/integration/Header.feature
  cypress/integration/Header/HeaderSteps.js
  cypress/integration/Login.feature
  cypress/integration/Login/LoginSteps.js
  cypress/integration/Placeorder.feature
  cypress/integration/Placeorder/PlaceorderSteps.js
  cypress/integration/Product.feature
  cypress/integration/Product/ProductSteps.js
  cypress/integration/Purchase.feature
  cypress/integration/Purchase/PurchaseSteps.js
  cypress/integration/Signup.feature
  cypress/integration/Signup/SignupSteps.js
  cypress/plugins/index.js
  cypress/support/index.js
  package-lock.json
  package.json
Owners: @Duquemore, @SoyEdwinCabrera, @Frantisekt, @emzima24, @RichardAlmanza

Added base configuration, features and Steps files / folders
  cypress.json
  cypress/integration/Cards.feature
  cypress/integration/Cards/CardsSteps.js
  cypress/integration/Carousel.feature
  cypress/integration/Carousel/CarouselSteps.js
  cypress/integration/Cart.feature
  cypress/integration/Cart/CartSteps.js
  cypress/integration/Contact.feature
  cypress/integration/Contact/ContactSteps.js
  cypress/integration/Header.feature
  cypress/integration/Header/HeaderSteps.js
  cypress/integration/Login.feature
  cypress/integration/Login/LoginSteps.js
  cypress/integration/Placeorder.feature
  cypress/integration/Placeorder/PlaceorderSteps.js
  cypress/integration/Product.feature
  cypress/integration/Product/ProductSteps.js
  cypress/integration/Purchase.feature
  cypress/integration/Purchase/PurchaseSteps.js
  cypress/integration/Signup.feature
  cypress/integration/Signup/SignupSteps.js
  cypress/plugins/index.js
  cypress/support/index.js
  package-lock.json
  package.json
Owners: @Duquemore, @SoyEdwinCabrera, @Frantisekt, @emzima24, @RichardAlmanza

Instrucciones de redaccion de archivos y correcciones menores
  cypress/fixtures/example.json
  cypress/fixtures/exampleFixture.json
  cypress/integration/Cards.feature
  cypress/integration/Carousel.feature
  cypress/integration/Cart.feature
  cypress/integration/Contact.feature
  cypress/integration/Header.feature
  cypress/integration/Login.feature
  cypress/integration/Placeorder.feature
  cypress/integration/Product.feature
  cypress/integration/Purchase.feature
  cypress/integration/Signup.feature
  cypress/integration/cards.feature
  cypress/integration/carousel.feature
  cypress/integration/cart.feature
  cypress/integration/contact.feature
  cypress/integration/example.feature
  cypress/integration/header.feature
  cypress/integration/log_in.feature
  cypress/integration/place_order.feature
  cypress/integration/product.feature
  cypress/integration/purchase.feature
  cypress/integration/sign_up.feature
  cypress/support/pagesObject/CartPage.js
  cypress/support/pagesObject/ContactWindow.js
  cypress/support/pagesObject/ExamplePage.js
  cypress/support/pagesObject/LoginWindow.js
  cypress/support/pagesObject/ProductPage.js
  cypress/support/pagesObject/PurchaseWindow.js
  cypress/support/pagesObject/SignupWindow.js
Owners: @RichardAlmanza, @Duquemore, @Frantisekt, @emzima24

Instrucciones de redaccion de archivos y correcciones menores (#2)
  cypress/fixtures/example.json
  cypress/fixtures/exampleFixture.json
  cypress/integration/Cards.feature
  cypress/integration/Carousel.feature
  cypress/integration/Cart.feature
  cypress/integration/Contact.feature
  cypress/integration/Header.feature
  cypress/integration/Login.feature
  cypress/integration/Placeorder.feature
  cypress/integration/Product.feature
  cypress/integration/Purchase.feature
  cypress/integration/Signup.feature
  cypress/integration/cards.feature
  cypress/integration/carousel.feature
  cypress/integration/cart.feature
  cypress/integration/contact.feature
  cypress/integration/example.feature
  cypress/integration/header.feature
  cypress/integration/log_in.feature
  cypress/integration/place_order.feature
  cypress/integration/product.feature
  cypress/integration/purchase.feature
  cypress/integration/sign_up.feature
  cypress/support/pagesObject/CartPage.js
  cypress/support/pagesObject/ContactWindow.js
  cypress/support/pagesObject/ExamplePage.js
  cypress/support/pagesObject/LoginWindow.js
  cypress/support/pagesObject/ProductPage.js
  cypress/support/pagesObject/PurchaseWindow.js
  cypress/support/pagesObject/SignupWindow.js
Owners: @RichardAlmanza, @Duquemore, @Frantisekt, @emzima24

Instrucciones de redaccion de steps js y correcciones menores
  cypress/fixtures/exampleFixture.json
  cypress/integration/Cards/CardsSteps.js
  cypress/integration/Carousel/CarouselSteps.js
  cypress/integration/Cart/CartSteps.js
  cypress/integration/Contact/ContactSteps.js
  cypress/integration/Header/HeaderSteps.js
  cypress/integration/Login/LoginSteps.js
  cypress/integration/Placeorder/PlaceorderSteps.js
  cypress/integration/Product/ProductSteps.js
  cypress/integration/Purchase/PurchaseSteps.js
  cypress/integration/Signup/SignupSteps.js
  cypress/integration/cards.feature
  cypress/integration/cards/cards.js
  cypress/integration/carousel.feature
  cypress/integration/carousel/carousel.js
  cypress/integration/cart.feature
  cypress/integration/cart/cart.js
  cypress/integration/contact.feature
  cypress/integration/contact/contact.js
  cypress/integration/example.feature
  cypress/integration/example/example.js
  cypress/integration/header.feature
  cypress/integration/header/header.js
  cypress/integration/log_in.feature
  cypress/integration/login/login.js
  cypress/integration/place_order.feature
  cypress/integration/place_order/place_order.js
  cypress/integration/product.feature
  cypress/integration/product/product.js
  cypress/integration/purchase.feature
  cypress/integration/purchase/purchase.js
  cypress/integration/sign_up.feature
  cypress/integration/sign_up/sign_up.js
Owners: @RichardAlmanza, @Frantisekt, @emzima24, @Duquemore

Emzima (#3)
  cypress/fixtures/exampleFixture.json
  cypress/integration/Cards/CardsSteps.js
  cypress/integration/Carousel/CarouselSteps.js
  cypress/integration/Cart/CartSteps.js
  cypress/integration/Contact/ContactSteps.js
  cypress/integration/Header/HeaderSteps.js
  cypress/integration/Login/LoginSteps.js
  cypress/integration/Placeorder/PlaceorderSteps.js
  cypress/integration/Product/ProductSteps.js
  cypress/integration/Purchase/PurchaseSteps.js
  cypress/integration/Signup/SignupSteps.js
  cypress/integration/cards.feature
  cypress/integration/cards/cards.js
  cypress/integration/carousel.feature
  cypress/integration/carousel/carousel.js
  cypress/integration/cart.feature
  cypress/integration/cart/cart.js
  cypress/integration/contact.feature
  cypress/integration/contact/contact.js
  cypress/integration/example.feature
  cypress/integration/example/example.js
  cypress/integration/header.feature
  cypress/integration/header/header.js
  cypress/integration/log_in.feature
  cypress/integration/login/login.js
  cypress/integration/place_order.feature
  cypress/integration/place_order/place_order.js
  cypress/integration/product.feature
  cypress/integration/product/product.js
  cypress/integration/purchase.feature
  cypress/integration/purchase/purchase.js
  cypress/integration/sign_up.feature
  cypress/integration/sign_up/sign_up.js
Owners: @RichardAlmanza, @Frantisekt, @emzima24, @Duquemore

Added locatos json in fixtures, left .feature files, basic configuration and error handle in support index, left placeOrderWindow page, and base methods in HomePage
  cypress/fixtures/locators.json
  cypress/integration/cards.feature
  cypress/integration/carousel.feature
  cypress/integration/cart.feature
  cypress/integration/contact.feature
  cypress/integration/header.feature
  cypress/integration/product.feature
  cypress/integration/purchase.feature
  cypress/support/index.js
  cypress/support/pagesObject/HomePage.js
  cypress/support/pagesObject/PlaceOrderWindow.js
Owners: @RichardAlmanza, @Duquemore, @SoyEdwinCabrera, @Frantisekt, @emzima24

Added automatic creatin of env locators in support index, change order in HomePage and fix the uncommented lines in .feature files
  cypress/integration/cards.feature
  cypress/integration/carousel.feature
  cypress/integration/cart.feature
  cypress/integration/contact.feature
  cypress/integration/example.feature
  cypress/integration/header.feature
  cypress/integration/place_order.feature
  cypress/integration/product.feature
  cypress/integration/purchase.feature
  cypress/integration/sign_up.feature
  cypress/support/index.js
  cypress/support/pagesObject/HomePage.js
Owners: @Duquemore, @SoyEdwinCabrera, @Frantisekt, @emzima24

Added locatos json in fixtures, left .feature files, basic configurat… (#4)
  cypress/fixtures/locators.json
  cypress/integration/cards.feature
  cypress/integration/carousel.feature
  cypress/integration/cart.feature
  cypress/integration/contact.feature
  cypress/integration/example.feature
  cypress/integration/place_order.feature
  cypress/integration/product.feature
  cypress/integration/sign_up.feature
  cypress/support/index.js
  cypress/support/pagesObject/HomePage.js
  cypress/support/pagesObject/PlaceOrderWindow.js
Owners: @RichardAlmanza, @Duquemore, @SoyEdwinCabrera, @Frantisekt, @emzima24

Added ProductPage class with product-specific function, and include product element locators
  cypress/fixtures/locators.json
  cypress/support/pagesObject/ProductPage.js
Owners: @RichardAlmanza, @Frantisekt, @emzima24

Update README
  README.md
  cypress/support/pagesObject/ProductPage.js
Owners: @RichardAlmanza, @Frantisekt, @emzima24

Implemented the PageOrderWindow and add order modal locators
  cypress/fixtures/locators.json
  cypress/support/pagesObject/PlaceOrderWindow.js
Owners: @RichardAlmanza, @Frantisekt, @emzima24

Added ProductPage class with product-specific function, and include product element locators
  cypress/fixtures/locators.json
  cypress/support/pagesObject/ProductPage.js
Owners: @RichardAlmanza, @Frantisekt, @emzima24

Update README
  README.md
  cypress/support/pagesObject/ProductPage.js
Owners: @RichardAlmanza, @Frantisekt, @emzima24

Removed verifications from PlaceOrderWindow to be handled in step file
  cypress/support/pagesObject/PlaceOrderWindow.js
Owners: @Frantisekt, @emzima24

Implemented the PageOrderWindow and add order modal locators (#6)
  cypress/fixtures/locators.json
  cypress/support/pagesObject/PlaceOrderWindow.js
Owners: @RichardAlmanza, @Frantisekt, @emzima24

feat: add login locators to locators.json
  cypress/fixtures/locators.json
Owners: @RichardAlmanza

feat(login): add base structure and getters to LoginWindow
  cypress/support/pagesObject/LoginWindow.js
Owners: @Frantisekt, @emzima24

feat(login): add typeUsername and typePassword methods
  cypress/support/pagesObject/LoginWindow.js
Owners: @Frantisekt, @emzima24

feat(login): add clickLoginSubmitButton and fillLoginForm methods
  cypress/support/pagesObject/LoginWindow.js
Owners: @Frantisekt, @emzima24

feat: add Login.feature with scenarios for valid , invalid and empty inputs
  cypress/integration/log_in.feature
Owners: @Duquemore

Update README
  README.md
  assets/DemoblazeP.png
Owners: @RichardAlmanza

Necessary methods and functions in other files are removed, and typos are corrected
  cypress/support/pagesObject/ProductPage.js
Owners: @Frantisekt, @emzima24

Add cardsPage and locators
  cypress/fixtures/locators.json
  cypress/support/pagesObject/cardsPage.js
Owners: @RichardAlmanza, @Frantisekt, @emzima24

The locators.js file is created and the path in ProductPage.js and cardsPage.js is modified
  cypress/support/pagesObject/ProductPage.js
  cypress/support/pagesObject/cardsPage.js
  cypress/support/pagesObject/locators.js
Owners: @Frantisekt, @emzima24

Create feature file for place order scenarios
  cypress/integration/place_order.feature
Owners: @Duquemore

Refactor: Rename login submit locator and update feature steps for login modal
  cypress/fixtures/locators.json
  cypress/integration/log_in.feature
Owners: @RichardAlmanza, @Duquemore

feat(login): add clickLoginSubmitButton and fillLoginForm methods
  cypress/support/pagesObject/LoginWindow.js
Owners: @Frantisekt, @emzima24

feat(login): add typeUsername and typePassword methods
  cypress/support/pagesObject/LoginWindow.js
Owners: @Frantisekt, @emzima24

feat: add login locators to locators.json
  cypress/fixtures/locators.json
Owners: @RichardAlmanza

feat(login): add base structure and getters to LoginWindow
  cypress/support/pagesObject/LoginWindow.js
Owners: @Frantisekt, @emzima24

feat: add Login.feature with scenarios for valid , invalid and empty inputs
  cypress/integration/log_in.feature
Owners: @Duquemore

Refactor: Rename login submit locator and update feature steps for login modal
  cypress/fixtures/locators.json
  cypress/integration/log_in.feature
Owners: @RichardAlmanza, @Duquemore

Update locators and implement CardsPage functionality (#8)
  README.md
  assets/DemoblazeP.png
  cypress/fixtures/locators.json
  cypress/support/pagesObject/ProductPage.js
  cypress/support/pagesObject/cardsPage.js
  cypress/support/pagesObject/locators.js
Owners: @RichardAlmanza, @Frantisekt, @emzima24

fix reference to demoblaze project logo
  assets/demoblaze-logo.png
Owners: @RichardAlmanza

fix locators.json
  cypress/fixtures/locators.json
Owners: @RichardAlmanza

fix(plugins): Updated index.js to remove files
  cypress/plugins/index.js
Owners: @Duquemore, @SoyEdwinCabrera

fix(support): Updated index.js for the new page object and the method for handling js errors (does not affect testing)
  cypress/support/index.js
Owners: @Duquemore, @SoyEdwinCabrera

fix(locators.js): Updated and moved from pagesObject folder to support folder
  cypress/support/locators.js
  cypress/support/pagesObject/locators.js
Owners: @RichardAlmanza, @Frantisekt, @emzima24

feat(utils.js): Inclusion of 3 methods in support folder
  cypress/support/utils.js
Owners: @RichardAlmanza

.github/CODEOWNERS:

# Devops (RichardAlmanza)
* @RichardAlmanza

# Devs Lead (Frantisekt emzima24)
cypress/support/commands.js @Frantisekt @emzima24
cypress/support/pagesObject/*.js @Frantisekt @emzima24
cypress/integration/**/*.js @Frantisekt @emzima24

# QA Lead (Duquemore)
cypress/fixture/*.json @Duquemore
cypress/integration/*.feature @Duquemore

# Project Manager (Duquemore, SoyEdwinCabrera)
cypress.json @Duquemore @SoyEdwinCabrera
package.json @Duquemore @SoyEdwinCabrera
cypress/support/index.js @Duquemore @SoyEdwinCabrera
cypress/plugins/index.js @Duquemore @SoyEdwinCabrera
